{% extends '_base.twig' %}
{% block adminregister %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class='row' id='add-item-container' data-type='color'>
						<div class='col-md-12'>
							{#-------CARTA CONTROL DE STOCK--------------#}
							<div class="panel todo-list">
								<div class="panel-heading">
									<h3 class="panel-title">Colores</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<div class='row'>
										<div class='col-md-12'>
											<span class="title">Listado de Colores</span>
											<span class="short-description">Añade un nuevo color para poder asociarlo a un producto</span>
											<div class="form-group date input-zone">
												<input type='text' name='nombre' id='tools-input' class="form-control"/>
												<input type='color' name='imgsrc' id='tools-input-color' class=""/>
												<i class="fas fa-plus" id='add-tools'></i>
											</div>	
										</div>
									</div>
									<hr>
									<div class='row'>
										<div class='row-md-12 wrapper-stock'>
											<div class='row' id='tools-items-content'>
												{% for color in colors %}
												<div class='col-md-3 col-sm-6 item-tools' data-id="{{color.id}}">
													<span class="tools-title color">{{color.nombre}}<i class="far fa-times-circle tools-delete"></i></span>
													<div style="background-color:{{color.imgsrc}}" class="color-preview"></div>
											     </div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
{% endblock %}