{% extends '_base.twig' %}
{% block adminregister %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<form class="form-auth-small text-left" action="login/registeradmin">
					    <div class="form-group">
							<label for="signup-marca" class="control-label">Marca</label>
							<input type="text" class="form-control" id="signup-marca" placeholder="Introduzca una marca" name='marca'>
						</div>
						<div class="form-group">
							<label for="signup-modelo" class="control-label">Modelo</label>
							<input type="text" class="form-control" id="signup-modelo" placeholder="Introduzca modelo" name='modelo'>
						</div>
						<div class="form-group">
							<label for="signup-precio" class="control-label">Precio</label>
							<input type="number" class="form-control" id="signup-precio" placeholder="Introduzca el precio del articulo" name='precio'>
						</div>
						<div class="form-group">
							<label for="signup-material" class="control-label">Material</label>
							<input type="text" class="form-control" id="signup-material" placeholder="Introduzca material" name='material'>
						</div>
						<div class="form-group">
							<label for="signup-peso" class="control-label">Peso</label>
							<input type="number" class="form-control" id="signup-peso" placeholder="Peso" name='peso'>
						</div>
						<div class="form-group">
							<label for="signup-referencia" class="control-label">Referencia</label>
							<input type="text" class="form-control" id="signup-referencia" placeholder="Introduzca referencia" name='referencia'>
						</div>
						<div class="form-group">
							<label for="signup-estampado" class="control-label">Estampado</label>
							<input type="text" class="form-control" id="signup-estampado" placeholder="Estampado" name='estampado'>
						</div>
						<div class="form-group">
							<label for="signup-detalle" class="control-label">Detalle</label>
							<input type="textarea" class="form-control" id="signup-detalle" placeholder="Descripcion" name='detalle'>
						</div>
						<div class="form-group">
							<label for="signup-cierre" class="control-label">Cierre</label>
							<input type="text" class="form-control" id="signup-cierre" placeholder="Cierre" name='cierre'>
						</div>
						<div class="form-group">
							<label for="signup-tipo" class="control-label">Tipo</label>
							<input type="number" class="form-control" id="signup-tipo" placeholder="Introduzca tipo" name='tipo'>
						</div>
						<div class="form-group">
							<label for="signup-paisfabricacion" class="control-label">País fabricación</label>
							<input type="text" class="form-control" id="signup-paisfabricacion" placeholder="Introduzca país fabricación" name='paisfabricacion'>
						</div>
						<div class="form-group">
							<label for="signup-altura" class="control-label">Altura</label>
							<input type="number" class="form-control" id="signup-altura" placeholder="Introduzca altura" name='altura'>
						</div>
						<div class="form-group">
							<label for="signup-temporada" class="control-label">Temporada</label>
							<input type="text" class="form-control" id="signup-temporada" placeholder="Introduzca temporada" name='temporada'>
						</div>
						
						<div class="form-group">
							<label for="signup-ftacon" class="control-label">Forma Tacon</label>
							<input type="text" class="form-control" id="signup-ftacon" placeholder="Forma tacon" name='ftacon'>
						</div>
						<div class="form-group">
							<label for="signup-puntera" class="control-label">Puntera</label>
							<input type="text" class="form-control" id="signup-puntera" placeholder="Introduzca puntera" name='puntera'>
						</div>
						<div class="form-group">
							<label for="signup-alto" class="control-label">Alto</label>
							<input type="number" class="form-control" id="signup-alto" placeholder="Introduzca alto" name='alto'>
						</div>
						<div class="form-group">
							<label for="signup-ancho" class="control-label">Ancho</label>
							<input type="number" class="form-control" id="signup-ancho" placeholder="Introduzca ancho" name='ancho'>
						</div>
						<div class="form-group">
							<label for="signup-profundo" class="control-label">Profundo</label>
							<input type="number" class="form-control" id="signup-profundo" placeholder="Introduzca profundo" name='profundo'>
						</div>
						<div class="form-group">
							<label for="signup-coleccion" class="control-label">Coleccion</label>
							<input type="text" class="form-control" id="signup-coleccion" placeholder="Introduzca coleccion" name='coleccion'>
						</div>
						<div class="form-group">
							<label for="signup-nbolsillos" class="control-label">Numero de bolsillos</label>
							<input type="number" class="form-control" id="signup-nbolsillos" placeholder="Numero de bolsillos" name='nbolsillos'>
						</div>
						
						<div class="form-group">
							<label for="signup-otrascaracteristicas" class="control-label">Otras carecteristicas</label>
							<input type="text" class="form-control" id="signup-otrascaracteristicas" placeholder="Introduzca otras caracteristicas" name='otrascaracteristicas'>
						</div>
						
						<button type="submit" class="btn btn-primary btn-lg btn-block">Nuevo articulo</button>
						
					</form>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	
{% endblock %}