/* ----------------------   Estilos que estaban en el Header ----------------------------------------------------------- */

@import url('assets/wp-content/themes/vortex/assets/css/styleGeneral.css');


/* ----------------------   COMUNES  A TODAS LAS PLANTILLAS  ----------------------------------------------------------- */


@import url('assets/wp-content/plugins/contact-form-7/includes/css/styles4906.css?ver=4.7'); 
@import url('assets/wp-content/themes/vortex/includes/additional-sources/static/css/cf7-stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/bootstrap/css/bootstrap.minf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/font-awesome.minf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/linea-iconsf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/owl.carouself718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/magnific-popupf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/vertical.minf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/assets/css/animatef718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/stylef718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/builder/static/css/frontend-grid077c.css?ver=1.2.9');
@import url('assets/wp-content/plugins/unyson/framework/extensions/forms/static/css/frontendbb98.css?ver=2.6.16');
@import url('assets/wp-content/themes/vortex/framework/extensions/portfolio/static/css/filterloaderf718.css?ver=4.7.12');
@import url('assets/wp-content/themes/vortex/includes/additional-sources/static/css/extra-stylesf718.css?ver=4.7.12');
@import url("assets/wp-content/uploads/2017/05/favicon.png");
@import url("assets/wp-content/uploads/2017/05/favicon.png");
@import url("assets/wp-content/uploads/2017/05/favicon.png");


/* ----------------------   ESPECÍFICOS DE about.html ----------------------------------------------------------- */

@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/backgroundf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/divider/static/css/stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.minbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/entypo/css/entypobb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/linecons/css/lineconsbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/lnr/css/lnrbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/typcn/css/typcnbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/unycon/unyconbb98.css?ver=2.6.16');
@import url('assets/wp-content/themes/vortex/assets/css/linea-iconsbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/testimonials/static/css/stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/team-member/static/css/stylesf718.css?ver=4.7.12');


/* ----------------------   ESPECÍFICOS DE contact.html ----------------------------------------------------------- */

@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/backgroundf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/divider/static/css/stylesf718.css?ver=4.7.12');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.minbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/entypo/css/entypobb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/linecons/css/lineconsbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/lnr/css/lnrbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/typcn/css/typcnbb98.css?ver=2.6.16');
@import url('assets/wp-content/plugins/unyson/framework/static/libs/unycon/unyconbb98.css?ver=2.6.16');
@import url('assets/wp-content/themes/vortex/assets/css/linea-iconsbb98.css?ver=2.6.16');


/* ----------------------   ESPECÍFICOS DE Post ----------------------------------------------------------- */
@import url('assets/css/stylePost.css');

/*            NUESTROS ESTILOS            */

.leerMas{
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
}

