.imgDestacadaSidebar {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.rrss{
    padding-left: 20px;   
}

.rrss-margin{
    margin: 0 auto;
}

.widget_recent_entries_custom .wi {
    width: 120px !important;
}

.widget_recent_entries_custom .wb {
  /*  text-align: justify;*/
}