/**************   FICHERO DE ESTILOS COMUNES ******************/
.justificado {
    text-align: justify;
}

.leerMas{
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
}