#header-login {
    background-image: url('../img/module-5.jpg');
    background-attachment: scroll;
    background-size: auto;
    background-position-y: 30%;
    position: relative;
    padding: 200px 0;    
}
    #header-login h1 {
        font-size: 2em;
        opacity: 1;
    }

#register-form {
    margin-top: 10vh;
}