#header-login {
    background-image: url('../img/module-5.jpg');
    background-attachment: scroll;
    background-size: auto;
    background-position-y: 30%;
    position: relative;
    padding: 200px 0;    
}
    #header-login h1 {
        font-size: 2em;
        opacity: 1;
    }
  
/*
#loginform input {
    box-shadow: none;
    border-radius: 5px;
    border-color: #eee;
    padding: 12px 15px;
    height: 40px;
    font-size: 1em; 
    font-family: Dosis,Arial,serif;
}    
  
#loginform label {
    background: transparent;
    border-color: #333333;
    color: #333333;    
}    
*/