    table {
        width: 100%;    
    }
    
    tr > th {
        font-size: 1.2em;
        background-color: #F2F2F2;
    }

    tr > th:nth-child(2) {
        text-align: center;
    }
    
    td a,
    td p {
        font-size: 1em;
        color: #666666 !important;
    }

    td a:hover {
        color: #f5a319 !important;
    }