/**************   FICHERO DE ESTILOS COMUNES ******************/
.justificado {
    text-align: justify;
}

.texto {
    font-size: 1.125em;
    font-family: 'Open Sans';    
}

.leerMas{
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
}

.imgResponsive{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.imgResponsiveTop {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; 
}

.bordeR {
    border: 1px solid red;
}

.bordeB {
    border: 1px solid blue;
}

.is_active {
    background: black;
    color: white;
}

.btn-general {
    height: 50px;
    background-color: #333333;
    border-color: #333333; 
    color: #fff;
    border-radius: 5px;
    font-family: Dosis;
    font-style: normal;
    font-weight: 400;   
    transition: all .3s ease-out;
    font-size: 1.125em; 
    border-width: 2px;
    letter-spacing: 3px;
    text-transform: uppercase; 
    padding: 10px;
}
    .btn-general:hover {
        background-color: #DFE3E2;
        border-color: #DFE3E2; 
        color: #333333;
    }
    
/*-------------------------- Bloques con Flex --------------------------------*/
    .bloqueflex {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .bloqueflex-end {
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
    }
    
    .bloqueflex-between {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
  
    .bloqueflex-around {
        display: flex !important;
        justify-content: space-around;
        align-items: center;        
    }
    
    .bloqueflex-col {
        display: flex !important;
        flex-flow: column;
    }
    
    

/*-------------------------------ESTILOS PARALLAX QUOTE BLOG------------------------*/
.blog-quote-parallax .owl-pagination {
    display: none !important;
}

.blog-quote-parallax p {
    font-size: 22px !important;
}