/**************   FICHERO DE ESTILOS COMUNES ******************/
.justificado {
    text-align: justify;
}

.texto {
    font-size: 1.125em;
    font-family: 'Open Sans';    
}

.leerMas{
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
}

.imgResponsive{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.bordeR {
    border: 1px solid red;
}

.bordeB {
    border: 1px solid blue;
}

/*-------------------------- Bloques con Flex --------------------------------*/
    .bloqueflex {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .bloqueflex-end {
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
    }
    
    .bloqueflex-between {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    
    .bloqueflex-col {
        display: flex !important;
        flex-flow: column;
    }

/*-------------------------------ESTILOS PARALLAX QUOTE BLOG------------------------*/
.blog-quote-parallax .owl-pagination {
    display: none !important;
}

.blog-quote-parallax p {
    font-size: 22px !important;
}