{% extends 'base.twig' %}
{% block content %}
<div class="wrapper">
	<section class="module-header default-height parallax bg-dark bg-dark-30 bg-film" data-background="{{twigFolder}}/src/images/module-5.jpg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="h3 font-alt">Pricing Tables</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="fw-page-builder-content">
		<section class="module">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="module-title">
							<h2 class="font-alt">Pricing 2 Columns</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-4">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Light</h4>
								<p>Limited Edition</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>9
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li><span>Newsletter</span></li>
									<li><span>Working contact form</span></li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pricing-wrapper font-alt pricing-popular">
							<div class="pricing-header">
								<h4>Advanced</h4>
								<p>Best Choice</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>64
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li>Working contact form</li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-brand" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-2"></div>
				</div>

			</div>
		</section>
		<section class="module module-divider-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="module-title">
							<h2 class="font-alt">Pricing 3 Columns</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Light</h4>
								<p>Limited Edition</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>9
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li><span>Newsletter</span></li>
									<li><span>Working contact form</span></li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pricing-wrapper font-alt pricing-popular">
							<div class="pricing-header">
								<h4>Advanced</h4>
								<p>Best Choice</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>64
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li>Working contact form</li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-brand" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Basic</h4>
								<p>Standard Features</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>29
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li><span>Working contact form</span></li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="module module-divider-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="module-title">
							<h2 class="font-alt">Pricing 4 Columns</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Light</h4>
								<p>Limited Edition</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i>
								</span>9
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li><span>Newsletter</span></li>
									<li><span>Working contact form</span></li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Basic</h4>
								<p>Standard Features</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>29
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li><span>Working contact form</span></li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="pricing-wrapper font-alt pricing-popular">
							<div class="pricing-header">
								<h4>Advanced</h4>
								<p>Best Choice</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>64
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li>Working contact form</li>
									<li><span>Unlimited domains</span></li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-brand" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="pricing-wrapper font-alt">
							<div class="pricing-header">
								<h4>Ultimate</h4>
								<p>Full Set</p>
							</div>
							<div class="pricing-price">
								<span><i class="fa fa-dollar"></i></span>119
							</div>
							<div class="pricing-body">
								<ul class="pricing-features">
									<li>Free support</li>
									<li>15 demos included</li>
									<li>Newsletter</li>
									<li>Working contact form</li>
									<li>Unlimited domains</li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a class="btn btn-md btn-round btn-fill btn-gray" href="#" target="_blank">Purchase</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
