/*
    Estos estilos provienen del header.php, para separar los estilos del tema.
*/

		img.wp-smiley,
	    img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}

	    body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .sub-menu > li a {
	        font-family: Open Sans; 
	        font-style: normal; font-weight: 400;
	    }
	    .font-alt, .font-alt h1, .font-alt h2, .font-alt h3, .font-alt h4, .font-alt h5, .font-alt h6, .form-control, .btn, .widget select {
	        font-family: Dosis; font-style: normal; font-weight: 400;
	    } 
	    blockquote, .font-serif {
	        font-family: Libre Baskerville;
	        font-style: italic;
	        font-weight: 400;
	    }

	    ::-moz-selection { 
	        background: #333333;
	        color: #fff !important;
	    }
	    ::-webkit-selection {
	        background: #333333;
	        color: #fff !important;
	    }
	    ::selection {
	        background: #333333;
	        color: #fff !important;
	    }
	    a {
	        color: rgba(51, 51, 51, .6);
	    } 
	    a:hover, a:focus {
	        color: #1a1a1a; 
	    }
	    h1 > a:hover, h1 > a:focus, h2 > a:hover, h2 > a:focus,
	    h3 > a:hover, h3 > a:focus, h4 > a:hover, h4 > a:focus,
	    h5 > a:hover, h5 > a:focus, h6 > a:hover, h6 > a:focus { 
	        color: rgba(51, 51, 51, .6);
	    }
	    blockquote {
	        border-left: 2px solid #333333;
	    }
	    .progress-bar.progress-bar-brand {
	        background-color: #333333;
	    } 
	    .form-control:focus {
	        border-color: #333333;
	    } 
	    .icon-box-icon, .icon-box-left .icon-box-icon {
	        color: #333333;
	    }
	    .label-brand {
	        background: #333333;
	    }
	    .pagination > .active > a, .pagination > .active > span {
	        background: #333333; 
	        border-color: #333333;
	    }
	    .pagination > .active > a:hover,
	    .pagination > .active > a:focus,
	    .pagination > .active > span:hover,
	    .pagination > .active > span:focus {
	        background: #333333;
	        border-color: #333333;
	    } .tagcloud a:hover, .post-tags a:hover {
	        background: #333333;
	    }
	    .tagcloud a:hover:before, .post-tags a:hover:before {
	        border-left-color: #333333;
	    }
	    .post-meta a:hover, .post-meta a:focus,
	    .module-header .post-meta a:hover,
	    .module-header .post-meta a:focus, .author-meta a:hover,
	    .author-meta a:focus, .comment-meta-date a:hover,
	    .comment-meta-date a:focus, .comment-meta-author a:hover,
	    .comment-meta-author a:focus {
	        color: #333333;
	    }
	    .filters > li > a {
	        color: #333333;
	    }
	    .search-button:hover {
	        color: #333333;
	    }
	    .widget select:focus {
	        border-color: #333333;
	    }
	    .btn.btn-brand {
	        background-color: #333333;
	        border-color: #333333;
	    }
	    .btn.btn-brand:hover, .btn.btn-brand:focus {
	        background-color: #262626;
	        border-color: #262626;
	    }
	    .btn.btn-brand.btn-outline {
	        background: transparent;
	        border-color: #333333;
	        color: #333333;
	    }
	    .btn.btn-brand.btn-outline:hover,
	    .btn.btn-brand.btn-outline:focus {
	        background: #333333;
	    }
	    .btn.btn-brand.btn-link {
	        color: #333333;
	    }
	    .btn.btn-brand.btn-link:hover,
	    .btn.btn-brand.btn-link:focus {
	        color: #262626;
	    }
	    .btn.btn-brand.btn-fade {
	        background: transparent;
	        border-color: rgba(51, 51, 51, .6);
	        color: rgba(51, 51, 51, .6);
	    }
	    .btn.btn-brand.btn-fade:hover,
	    .btn.btn-brand.btn-fade:focus {
	        background: transparent;
	        border-color: #333333;
	        color: #333333;
	    }
	    
	    
	    
	    